<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>EnterGolang</title>
</head>
<body class="terminal">
    <div class="container">
        <div class="terminal-nav">
            <header class="terminal-logo">
                <div class="logo terminal-prompt">
                    <a href="/">enterGolang
                    </a>
                </div>
            </header>
            <nav class="terminal-menu">
                <ul>
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="https://twitter.com/satriyop">Author</a></li>
                    <li class="menu-item"><a href="https://github.com/satriyop/entergolang">Github</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <section>
            <header>
                <h2 id="Timeline">Entergolang Blog</h2>
            </header>
            <div class="terminal-timeline">
                <div class="terminal-card">
                    <h1>Not Found</h1>
                    <div><p>Mau kemana sih ? ...</p></div>
                    <div class="flex-card">
                        <a class="btn btn-default btn-ghost" href="/">Home</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</body>
</html>