<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>{{ .FrontMatter.Title }}</title>
</head>
<body class="terminal">
    <div class="container">
        <div class="terminal-nav">
            <header class="terminal-logo">
                <div class="logo terminal-prompt">
                    <a href="/">enterGolang
                    </a>
                </div>
            </header>
            <nav class="terminal-menu">
                <ul>
                    <li class="menu-item">Home</li>
                    <li class="menu-item">About</li>
                    <li class="menu-item">Github</li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        <section>
            <h2>{{ .FrontMatter.Title }}</h2>
            <div class="terminal-timeline">
                <!-- <div class="terminal-card">                     -->
                    <div>
                        {{ .Body }}
                    </div>
                <!-- </div> -->
            </div>
        </section>
    </div>
</body>
</html>